@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: #000000;
  background: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.header-wrapper {
  @apply mx-auto w-[1640px] max-w-[98%];
}
.app-container {
  @apply mx-auto w-[1440px] max-w-[90%];
}
